body{
    font-family: "DotGothic16", sans-serif;
}
.cards{
    background-color: #FFC107!important; 
    color: #bb0416;
    padding: 10px;
    border-color: #000000;
}
h4{
    font-family: "Bangers", system-ui;
    
}
img{
    border-radius: 5px;

}
.bott{
    background-color: #007BFF!important;
}

.superhero-list {
    display: flex; /* Usar Flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-between; /* Espacio entre las cartas */
    padding: 50px; /* Espacio alrededor del contenedor */
  }
  
  
  .btn{
    background-color: red;
    width: 100%;
  }.bott:hover{
    background-color: #820404!important;
    padding: 10px;
    color: black;
    font-weight: bolder;
    border: black;
}
.navv{
    background-color: #007BFF!important;
    
}
h1{
    color: white!important;
    font-family: "Bangers", system-ui;
    font-size: 50px!important;
    font-weight: 300!important;
}
.gen{
    margin-top: 150px!important;
}