body{
    font-family: "DotGothic16", sans-serif;
}
.cards{
    background-color: #FFC107!important; 
    color: #bb0416;
    padding: 10px;
    border-color: #000000;
}
h4{
    font-family: "Bangers", system-ui;
    
}
img{
    border-radius: 5px;

}
.bott{
    background-color: #007BFF!important;
}

.superhero-list {
    display: flex; /* Usar Flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-between; /* Espacio entre las cartas */
    padding: 50px; /* Espacio alrededor del contenedor */
  }
  
  
  .btn{
    background-color: red;
    width: 100%;
  }
.bott:hover{
    background-color: #820404!important;
    padding: 10px;
    color: black;
    font-weight: bolder;
    border: black;
}
.navv{
    background-color: #007BFF!important;
    
}
h1{
    color: white!important;
    font-family: "Bangers", system-ui;
    font-size: 50px!important;
    font-weight: 300!important;
}
.gen{
    margin-top: 60px!important;
}
.gen2 {
    margin-top: 100px !important;
  }

  .carrd {
    background-color: #1a1a40; /* Azul oscuro para el fondo de la tarjeta */
    color: #e6e6e6; /* Texto en blanco/gris claro */
    border-radius: 15px;
    padding: 20px;
  }

  .carrd img {
    margin: 15px!important; /* Agregar margen alrededor de la imagen */
    border-radius: 10px;
  }

  .name {
    font-family: "Bangers", system-ui;
    color: #bb0416 !important; /* Título en rojo brillante */
    font-size: 2rem;
  }
  .progress-bar {
    border-radius: 5px;
  }

  .progress {
    height: 1.5rem; /* Ajusta la altura de las barras de progreso */
  }

  .powerstats-container {
    margin-top: 30px;
  }
  .powerstats-container h3 {
    color: #ffc107; /* Amarillo brillante para los subtítulos */
  }
  .datos{
    padding-left:  50px;

  }