body{
    font-family: "DotGothic16", sans-serif!important;
    background-color: #f0f0f0;
    color: #F0F0F0!important;
}
.cards{
    background-color: #ddb047!important; 
    color: #D62828!important;
    padding: 10px!important;
    border-color: #005A9C!important;
}
h4{
    font-family: "Bangers", system-ui!important;
    
}
img{
    border-radius: 5px!important;

}
.bott{
    background-color: #005A9C!important;
    color: #FAF3E0!important;
}

.superhero-list {
    display: flex; /* Usar Flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-between; /* Espacio entre las cartas */
    padding: 50px; /* Espacio alrededor del contenedor */
  }
  
  
  .btn{
    background-color: red;
    width: 100%;
  }
.bott:hover{
    background-color: #820404!important;
    padding: 10px!important;
    color: black!important;
    font-weight: bolder!important;
    border: black!important;
}
.navv{
    background-color: #005A9C!important;
    
}
h1{
    color: #FFC107!important;
    font-family: "Bangers", system-ui!important;
    font-size: 50px!important;
    font-weight: 300!important;
}
.gen{
    margin-top: 60px!important;
}
.gen2 {
    margin-top: 150px !important;
  }

  .carrd {
    background-color: #002a4b!important; /* Azul oscuro para el fondo de la tarjeta */
    color: #e6e6e6!important; /* Texto en blanco/gris claro */
    border-radius: 15px!important;
    padding: 20px!important;
  }

  .carrd img {
    max-width: 85%!important;  /* La imagen nunca será más grande que el contenedor */
    height: auto!important;     /* Mantener la proporción de la imagen */
    object-fit: cover!important; /* Llenar el contenedor sin estirarse (o cambiar por "contain" si prefieres que no se corte) *//* Esquinas redondeadas (ajustar según prefieras) */
    margin-top: 7%;
    margin-left: 7%;
  }

  .name {
    font-family: "Bangers", system-ui!important;
    color: #D62828 !important; /* Título en rojo brillante */
    font-size: 3rem!important;
  }
  .progress-bar {
    border-radius: 5px!important;
  }

  .progress {
    height: 1.5rem!important; /* Ajusta la altura de las barras de progreso */
  }

  .powerstats-container {
    margin-top: 30px!important;
  }
  .powerstats-container h3 {
    color: #ffc107!important; /* Amarillo brillante para los subtítulos */
  }
  .datos{


  }
  .navigation a {
    padding: 5px 10px; /* Tamaño personalizado */
    font-size: 0.9rem;  /* Reducir tamaño de la fuente */
    background-color: #005A9C!important;
    color: #FAF3E0!important;
    border-color: #005A9C;
  }
  .navigation a:hover{
    background-color: #820404!important;
    padding: 10px!important;
    color: black!important;
    font-weight: bolder!important;
    border: black!important;
  }
  .navigation {
    margin-top: 20px;
  }